doctype html
html
    head
        title Just Dial
        link(rel="stylesheet", href="http://hack2014.justdial.com/maps/css/jdapi.min.css" type="text/css")
        script(type="text/javascript",src="http://hack2014.justdial.com/maps/js/jdapi.min.js")
        