<doctype html>
    <html>
        <head>
            <link rel="stylesheet" href="css/jdapi.min.css" type="text/css">
            <script type="text/javascript" src="js/jdapi.min.js"></script>
            <!--script type="text/javascript" src="js/jquery-1.8.3.js"></script>
            <script type="text/javascript" src="js/jquery-ui.js"></script>
            <script type="text/javascript" src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js" data-sap-ui-libs="sap.ui.commons, sap.m"></script-->
            <script type="text/javascript">
                var map = null;
                var centerLat = null;
                var centerLong = null;
                
                
                var init = function(){
                    var showPosition = function(position){
                        centerLat = position.coords.latitude;
                        centerLong = position.coords.longitude;
                        var xmlhttp = new XMLHttpRequest();
                        xmlhttp.open('GET','/getCab?centerlat=' + centerLat + '&centerlong=' + centerLong,true);
                        xmlhttp.onreadystatechange = function(){
                            if(xmlhttp.readyState==4 && xmlhttp.status==200){
                                var mrkrArr = [];
                                var map = Jdmap.init('map',[parseFloat(centerLat),parseFloat(centerLong)]);
                                var centerMarker = L.marker([parseFloat(centerLat),parseFloat(centerLong)]);
                                centerMarker.bindPopup("Your current location");
                                mrkrArr.push(centerMarker);
                                
                                //tmp ola mark
                                var olaLoc = L.marker([parseFloat(centerLat),parseFloat(centerLong) - 0.01]);
                                olaLoc.bindPopup("Nearest Ola Cab");
                                olaLoc.setIcon(L.icon({iconUrl: '/img/ola.png',iconAnchor: [10, 30],shadowUrl: this.imageHost + "/images/marker-shadow.png"}));
                                mrkrArr.push(olaLoc);
                                
                                var xmlhttprequest = new XMLHttpRequest();
                                xmlhttprequest.open('GET','/getPracto?location=bangalore',true);
                                xmlhttprequest.onreadystatechange = function(){
                                    if(xmlhttprequest.readyState==4 && xmlhttprequest.status==200){
                                        var responseJSON = JSON.parse(xmlhttprequest.responseText);
                                        for(var count=0;count<responseJSON.doctors.length;count++){
                                            var doctor_relations = responseJSON.doctors[count].relations;
                                            for(places=0;places<doctor_relations.length;places++){
                                                var relation = doctor_relations[places];
                                                var latitude = relation["practice"].latitude;
                                                var longitude = relation["practice"].longitude;
                                                var locality = undefined;
                                                if(relation["practice"].locality!=undefined)
                                                    locality = relation["practice"].locality.name;
                                                var name = relation["practice"].name;
                                                var street = relation["practice"].street_address;
                                                if(latitude!=undefined && longitude!=undefined){
                                                    var oMarker = L.marker([parseFloat(latitude),parseFloat(longitude)]);
                                                    var text = "name: " + name;
                                                    if(locality!=undefined)
                                                        text = text + "<br>locality: " + locality;
                                                    if(street!=undefined)
                                                        text = text + "<br>street: " + street;
                                                    oMarker.bindPopup(text);
                                                    mrkrArr.push(oMarker);
                                                }
                                            }
                                        }
                                    }
                                    L.layerGroup(mrkrArr).addTo(map);
                                };
                                xmlhttprequest.send();
                            }
                        };
                        xmlhttp.send();
                    };
                    if(navigator.geolocation){
                        navigator.geolocation.getCurrentPosition(showPosition);
                    }else{
                        console.log("GeoLocation not supported by browser");
                    }
                };
            </script>
        </head>
        <body onload="init()">
            <div id="map" style="width: 500px; height: 500px; float: left; margin-left: 20px; margin-top: 20px; position: relative;" class="leaflet-container leaflet-fade-anim" tabindex="0"></div>
        </body>
    </html>
</doctype>